.form-content .input-container {
    border: 0px;
    padding: 12px;
    background-color: #262626;
}

.input-container:hover {
    cursor: text;
}

.form-content .email{
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.form-content .pass{
    width: 80%;
    border-radius: 10px 0px 0px 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;   
    border-bottom: 2px solid black; 
}

/* Password toggle */
.form-content span{
    width: 15%;
    background-color: #4D4D4D;
    border: 2px solid black;
    border-radius: 0px 10px 10px 0px;
}

.form-content i{
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
} 