.Help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 100vw;
}

.Help h2 {
    margin: 1rem;
}

.step {
    display: flex;
    flex-wrap: nowrap;
    gap: 5%;
    padding: 5% 2.5%;
    margin: 0;
    border-radius: 0.5rem;
    align-items: center;
    background-color: #90C89B;
}

.step-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
  
.step-image {
    width: 40%;
    height: auto;
    border-radius: 0.5rem;
    object-fit: contain;
}
  
.note {
    font-style: italic;
    font-size: 0.9rem;
    color: #333;
    margin-top: 0.5rem;
}
  
.help-footer {
    background-color: #4b7862;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}
  