.Home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}

.home-containers{
    width: 40%;
}

.home-welcome{
    margin-bottom: 2rem;
}

.input-container:hover{
    cursor: pointer;
    border: 3px solid white;
    box-shadow: 0 0 15px rgba(0, 150, 255, 0.6)
}

.file-properties{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.image-container{
    margin-top: 2rem;
    border: 3px solid gray;
    border-radius: 1rem;
    width: 90%;
    aspect-ratio: 16 / 9;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1rem auto;
}

.deteksi{
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

/* Min Tablet screens */
@media only screen and (max-width: 768px){
    .Home{
        gap : 1rem;
        flex-direction: column;
    }

    .home-containers{
        width: 80%;
    }

    .home-welcome{
        margin-bottom: 1rem;
    }
}

/* Phone screens */
@media only screen and (max-width: 480px){
    .home-containers{
        max-width: 80%;
        text-align: center;
    }

    .home-welcome{
        margin-bottom: 1rem;
    }

    .home-title{
        display: none;
    }
}