.Result{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
}

.history-result{
    margin-top: 4rem !important;
}

.result-containers{
    margin: 1rem auto 0rem auto;
}

.Result .image{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.go-back{
    margin-left: 2rem;
    left: 0;
}

.result-image{
    width: 480px;
}

.pest-description{
    width: 80vw;
    min-height: 10rem;
    border: 2px solid;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.pest-description *{
    margin: 1rem 1rem;
}

.pest-description pre {
    white-space: pre-wrap; /* Preserves formatting but wraps long text */
    word-wrap: break-word;  /* Ensures long words break properly */
    overflow-wrap: break-word; /* Extra safeguard for long words */
    max-width: 100%; /* Prevents it from exceeding the container */
}

/* Min Tablet screens */
@media only screen and (max-width: 768px){
    .result-image{
        width: 360px;
    }
}

/* Phone screens */
@media only screen and (max-width: 480px){
    .go-back{
        margin-left: 1rem;
    }
    .result-image{
        width: 260px;
    }
    
    .pest-description{
        width: 95%;
    }
}