header{
    background-color: rgb(12, 78, 18);
    position: fixed;
    width: 100%;
    height: 3rem;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 1rem;
    color: white;
}

.hamburger-list{
    left: 0;
    position: fixed;
    display: flex;
    width: 5rem;
    justify-content: center;
    align-items: center;
}

.hamburger-icon:hover{
    cursor: pointer;
    background-color: #06860A;
}

.hamburger-list i{
    font-size: 2.5rem;
}

.hamburger-list i:hover{
    cursor: pointer;
}

.header-title{
    position: fixed;
    right: 50%;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 5rem;
    background-color: rgb(12, 78, 18);
    z-index: 10;
    animation: expandNavbar 0.5s ease-in-out forwards; /* Auto expand */
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
    border-bottom: 1px solid black;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: lightgray;
    outline: none;
    overflow-x: hidden; /*nav items doesn't show through the navlist box*/
}

.nav-icon{
    font-size: 2.5rem;
    margin-left: 1rem;
    width: 5rem;
    min-width: 5rem;
}

.navbar span{
    margin-left: 1rem;
}

.active{
    color: white;
    background-color: #075509;
}

.nav-link:hover{
    color: white;
}

.nav-link:not(.active):hover{
    background-color: #06860A;
    transition: background-color 200ms linear;
}

.profileDetails{
    display: flex;
    align-items: center;
    height: 7rem;
}

@keyframes expandNavbar {
    from {
      width: 0rem;
    }
    to {
      width: 16rem;
    }
}