.Home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 8rem;
    width: 100vw;
    justify-content: center;
}

.home-containers{
    max-width: 40rem;
}

.home-welcome{
    margin-bottom: 2rem;
}

.input-container:hover{
    cursor: pointer;
    border: 3px solid white;
    box-shadow: 0 0 15px rgba(0, 150, 255, 0.6)
}

.file-properties{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.deteksi{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}