header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(12, 78, 18);
    width: 100vw;
    height: 4rem;
    z-index: 1;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
    color: white;
    border-bottom: 1px solid black;
    z-index: 2;
}

.hamburger-list {
    left: 0;
    position: absolute;
    display: flex;
    width: 5rem;
    justify-content: center;
    align-items: center;
}

.hamburger-icon:hover {
    cursor: pointer;
    background-color: #06860A;
}

.hamburger-icon {
    font-size: 2.5rem;
}

.hamburger-icon:hover {
    cursor: pointer;
}

.header-title {
    margin: 0 auto;
}