.navbar{
    position: fixed;
    margin-top: 4rem;
    display: flex;
    left: 0;
    height: 100%;
    min-width: 20rem;
    background-color: rgb(12, 78, 18);
    z-index: 1;
    animation: expandNavbar 0.5s ease-in-out forwards; /* Auto expand */
}

.nav-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-item{
    width: 100%;
    border-bottom: 1px solid black;
    height: 5rem;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: lightgray;
    outline: none;
    overflow-x: hidden;
}

.nav-icon{
    font-size: 2rem;
    margin-left: 1rem;
    width: 3rem;
    min-width: 3rem;
}

.navbar span{
    margin-left: 1rem;
}

.active{
    color: white;
    background-color: #07740b;
}

.nav-link:hover{
    color: white;
}

.nav-link:not(.active):hover{
    background-color: #0bca11;
    transition: background-color 200ms linear;
}

.profile-details{
    display: flex;
    align-items: center;
    min-height: 7rem;
    color: white;
    margin: 0;
}

.profile-email{
    font-size: 12px;
}

.profile-names{
    margin-left: 1rem;
}

@keyframes expandNavbar {
    from {
      width: 0rem;
    }
    to {
      width: 16rem;
    }
}