.history-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
    align-items: center;
}

.history-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
    background-color: gray;
}