:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #262626;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body{
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  justify-content: center;
  background-color: #CDFFEE;
}

body *{
  margin: 0;
}

h1 {
  font-size : 40px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 24px;
}

p{
  font-size: 1rem;
}

a{
  display: block;
  text-decoration: none;
  color: #262626;
}

a:hover{
  text-decoration: underline ;
}

a:active{
  text-decoration: underline 
}

.button, .link-button{
  padding: 0;
  height: 3rem;
  width: 10rem;
  font-size: 16px;
  border-radius: 16px;
  border: 2px #EAFCF6 solid;
  background-color: #16AC7A;
  color: white;
}

.button:hover{
  cursor: pointer;
  background-color: #29D79D;
}

.button:active{
  background-color: #087E57;
}

.button:disabled {
  background-color: darkgray;
  color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.link-button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box; /* Make base size the same as button */
  background-color: #737373;
}

.link-button:hover{
  text-decoration: none;
  background-color: #999999;
}

.link-button:active{
  text-decoration: none;
  background-color: #4D4D4D;
}

.hidden{
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
